# Ignore the actual compiled programs
main

# Ignore all object files and libraries
*.o
*.a
*.so
*.dll
*.exe

# Ignore OS-specific junk and debug symbols
.DS_Store
*.dSYM/

# Ignore IDE-specific folders
.vscode/